# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
# Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db
/Resources/en.lproj
Project/Sources/Methods/Compiler_Variables.4dm
Project/Sources/Methods/Compiler_Methods.4dm
/Bin
Logs/BuildLogStyleSheet.css
Logs/buildApp.log.xml
Logs/4D-Xamarin_symbols.txt
Logs/4D-Xamarin_errors.xml
4D-Xamarin.journal
4D-Xamarin.4DD
